/* Write your code here. */
.listItem {
  border: 1px solid #d7dae6;
  padding: 20px 10px;
  border-radius: 10px;
}

.questionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.hideUnhide:hover {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.questionText {
  font-size: 24px;
}
.answerText {
  font-size: 20px;
}
